:root {
  --bg-color: #f3f4f6;
  --primary: #5b21b6;
  --primary-darker: #4c1d95;
  --pink: #9d174d;
  --pink-darker: #831843;
  --purple: #5b21b6;
  --purple-darker: #4c1d95;
  --indigo: #3730a3;
  --indigo-darker: #312e81;
  --blue: #1e40af;
  --blue-darker: #1e3a8a;
  --green: #065f46;
  --green-darker: #064e3b;
  --yellow: #f59e0b;
  --yellow-darker: #d97706;
  --red: #dc2626;
  --red-darker: #b91c1c;
  --black: #1f2937;
  --black-darker: #111827;
}
.m-phone-number-input {
  width: 1rem!important;
}
.m-phone-input {
  min-width: 9.5rem!important;
}
.m-country-selector , .m-input{
  width: 6.2rem!important;

}

.m-country-selector__country-flag {

  top: 8px;
}
/* .m-select-list {
  width: rem!important;

} */
.m-phone-number-input.--responsive .m-phone-input.--border-radius .m-input-wrapper {

  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  border-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px!important;
}

.m-phone-number-input.--responsive .m-country-selector__select .m-select-input .m-input-wrapper {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  border-width: 1px;
  --tw-border-opacity: 1;
  border-bottom-left-radius: 10px!important;
  border-top-left-radius: 10px !important;
}
@media screen and (max-width: 1021px) {
  .m-phone-input {
    min-width: max-content !important;
    width: 100%!important;
}
.m-phone-number-input{

  width: 100% !important;
}
}
@media screen and (max-width: 421px) {
  .m-phone-number-input{
  
    flex-direction: row !important;
}
/* .m-phone-number-input.--responsive .m-phone-input {
  margin-left: -.125rem !important;
  margin-top: 0 !important;
  flex: 1 1 auto !important;
} */
.m-country-selector, .m-input {
  /* width: 6.5rem !important; */
  /* margin-right: 3rem!important; */
}
/* .m-phone-number-input.--responsive .m-country-selector {
  min-width: inherit;
} */
/* .m-phone-input {
  min-width: 14rem !important;
} */
.m-phone-number-input{

  /* width: 25% !important; */
}
.m-phone-number-input.--responsive .m-country-selector{
  min-width: auto!important;
}
.m-phone-input {
  min-width: auto !important;
  width: 70%!important;
}
}
@media print {
  nav {
    display: none;
  }
}

.form__group .m-phone-number-input  {
  /* --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: all 0.1s linear;
    outline: none; */


}
.form__group .m-input{
  height: 34px!important;
}
.form__group .m-country-selector,.form__group .m-input {
    width: 2.5rem !important;
}
.form__group  .m-phone-number-input.--responsive .m-country-selector__select .m-select-input .m-input-wrapper {
background: #fff;
border: none;
  border-radius: 5px !important;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: all 0.1s linear;
  outline: none;
}
.form__group  .m-phone-number-input.--responsive .m-phone-input.--border-radius .m-input-wrapper {

  background: #fff;
  border: none;
    border-radius: 5px !important;
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: all 0.1s linear;
    outline: none;
}

.form__group  .m-country-selector__country-flag {

  top: 3px;
  left: 11px!important;
}

.form__group .m-phone-input {
  min-width: 10rem !important;
}
.form__group .m-select .m-select-list[data-v-ca1ac71d] {
  width: 187px;
}
.icon-style {
  @apply w-4 h-4;

}